h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

a {
    color: white;
}

a:hover {
    color: rgb(175, 175, 175);
}

#error {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 25px;
    }
}