/* Import fonts */
@font-face {
    font-family: NotoSans-Bold;
    src: url("../fonts/NotoSans-Bold.ttf");
}

@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Regular.ttf");
}
/* End of importation */

header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}

nav {
    grid-column: 1;
}

#socialmedias-placeholder {
    grid-column: 2;
    position: fixed;
    right: 0;
}

.glyphs {
    max-width: 60px;
    margin: 0;
    padding: 0;
}

body {
    /* https://pixabay.com/users/jplenio-7645255/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3440450 */
    background: url("../img/thunderstorm-3440450_1920.jpg") no-repeat fixed; /* fixed for the resize of the website */
    background-size: cover;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: NotoSans-Bold;
    color: white;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-list li {
    display: inline;
}

.header-list li a {
    text-decoration: none;
    padding: 6px;
    font-size: 21px;
}

nav ul li a {
    background-color: rgba(95, 95, 95, 0.5);
}

a {
    color: white;
}

a:hover {
    color: rgb(175, 175, 175);
}

@media screen and (max-width: 1280px) {
    h1 { font-size: 25px; }
    h2 { font-size: 20px; }
}