/* Import fonts */
@font-face {
    font-family: NotoSans-Bold;
    src: url("../fonts/NotoSans-Bold.ttf");
}

@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Regular.ttf");
}
/* End of importation */

body {
    /* https://pixabay.com/users/jplenio-7645255/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3440450 */
    background: url("../img/thunderstorm-3440450_1920.jpg") no-repeat fixed; /* fixed for the resize of the website */
    background-size: cover;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: NotoSans-Bold;
    color: white;
}

header {
    text-align: center;
    border: solid red;
    margin-bottom: 1%;
}

main {
    display: grid;
    border: solid red;
    vertical-align: middle;
    grid-template-rows: repeat(3, 33.3%);
    grid-template-columns: repeat(3, 33.3%);
}

footer {
    text-align: center;
    width: 100%;
    border: solid red;
    position: fixed;
    bottom: 0px;
}