# START URL REWRITING
RewriteEngine On

# Checking if the requests are in HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
RewriteCond %{HTTP_HOST} !^www. [NC]

# If not, rewriting the url in HTTPS
RewriteRule (.*) https://www.zayoxy.ch/$1 [R=301,L]

# Conditions for beautfying the URL, specifying html files only
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f

# Remove the .html in the URL (beautify)
RewriteRule ^(.*)$ $1.html [NC,L]
# STOP URL REWRITING

# Disable directory listing
Options -Indexes

# Disable iframe injection
Header set X-Frame-Options "sameorigin"

# Redirect the 404 error on error
ErrorDocument 404 /error