# START URL REWRITING
RewriteEngine On

# Rewrite the URL only if it's the host is (www.)zayoxy.ch or website.local and in http instead of https
RewriteCond %{HTTP_HOST} ^(www\.)?zayoxy\.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www\.)?zayoxy-ch\.local$ [NC]
RewriteCond %{HTTPS} !=on

# Rewrite the URL (calling RewriteRule reset the cond for the next Rule :D)
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,NE,R=301]

# Check if it's not a directory and that it's a html file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f

# Remove the .html in the URL (beautify)
RewriteRule ^(.*)$ $1.html [NC,L]
# STOP URL REWRITING

# Disable directory listing
Options -Indexes

# Redirect the 404 error on error.html
ErrorDocument 404 /error.html